click==8.1.7
typing-extensions==4.12.2
annotated-types==0.7.0
pydantic-core==2.18.4
pydantic==2.7.4
pydantic-settings==2.3.4
python-dotenv==1.0.1
uvicorn[standard]==0.30.1
fastapi==0.111.0
httpx==0.27.0
cryptography==42.0.8
groq==0.9.0
llama-index==0.10.43
llama-parse==0.4.4
llama-index-core==0.10.43
llama-index-vector-stores-pinecone==0.1.8
llama-index-embeddings-huggingface==0.2.0
llama-index-llms-groq==0.1.4
sentence-transformers==2.7.0
numpy==1.26.4
pinecone-client==3.2.2
playwright==1.44.0
supabase==2.5.0
greenlet>=3.0.3
